.page article > section:nth-of-type(7) :global(.sellf-container) > div:last-child {
  height: 390px !important;
  max-width: 680px !important;
  background-image: var(--bhs-report-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  perspective: none !important;
}

.page article > section:nth-of-type(7) :global(.sellf-container) > div:last-child > * {
  display: none !important;
}

@media (max-width: 767px) {
  .page article > section:nth-of-type(7) :global(.sellf-container) > div:last-child {
    height: 300px !important;
    max-width: 520px !important;
  }
}
